* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

button {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}

#calculator {
  padding: 25px;
  width: 20vw;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.numpad {
  display: flex;
  flex-wrap: wrap;
}

.operators {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-nums, .middle-nums, .bottom-nums, .bottom-zero {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.screen-container {
  display: flex;
  flex-basis: 100%;
}

.screen {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  border: 1px solid black;
}

.calc-body {
  display: flex;
  flex-basis: 100%;
}